@import url(http://fonts.googleapis.com/css?family=Contrail+One);
@import url(http://fonts.googleapis.com/css?family=Oxygen);

body
{
    background-color: #e3e1cd;
    font-family: 'Oxygen', sans-serif;
    margin: 2em;
}

header
{
    background-image: url("../img/pav65o1920x700.jpg");
    background-size: 100%;
    height: 250px;
    font-family: 'Contrail One', sans-serif;
    font-size: 30px;
    color: #78766B;
    text-shadow: 2px 2px 3px #191919;
    margin: -2em;
    margin-bottom: 0;
}

.header_text
{
    margin-top: 2em;
    margin-left: 2em;
    padding-top: 1.8em;
    overflow: auto;
   
}

.header_text h1
{
    margin-bottom: -0.5em;
}

#second
{
    background-color: rgba(248, 172, 52, 0.5);/*#f8ac34;*/
    font-family: 'Contrail One', sans-serif;
    color: #f8ac34;
    height: 50px;
    margin-bottom: 0px;

}


nav
{
    background-color: #78766B;
    font-family: 'Contrail One', sans-serif;
    color: white;
    height: 50px;
    margin: -4em;
    margin-bottom: 1.5em;
    margin-top: 0;
    padding-left: 2em;
    
}

nav ul
{
    list-style-type: none;
    margin: 0;
    padding-left: 0.5em;
    
}

nav ul li
{
    float: left;
    margin-right: 0.7em;
    font-size: 1.6em;
    margin-top: 0.3em;
}
nav ul li a:link
{
    color: #424242;
}

nav ul li a:visited
{
    color: #424242;
}

nav ul li a:hover
{
    color: #525252;
    text-shadow: 1px 1px 1px #191919;
}

nav ul li a:active
{
    color: #212121;
}

#button
{
    padding-top: 2em;
}

#pointer
{
    margin-top: -1.6em;
    margin-bottom: -1.5em;
    width: 0px;
    height: 0px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid rgba(248, 172, 52, 0.3);
    visibility: hidden;
}

#quiz
{
    margin: -1em;
    margin-bottom: 1.5em;
    margin-top: 0;
    padding-right: 5em;
    padding-left: 5em;
    /*background-color: rgba(103, 19, 19, 0.3);*/
    background-color: rgba(248, 172, 52, 0.3);
    text-align: center;
    visibility: hidden;
    box-shadow: 2px 3px 2px 1px #aeada6;
}

#safety_quiz
{
    padding-bottom: 2em;
    font-size: 1.5em;
    color: #424242;
    visibility: hidden;
}

#safety_quiz p
{
    padding-top: 2em;
    font-weight: bold;
}



.button
{
    background-color: #78766B;
    color: #424242;
    border-radius: 5px;
    border: none ;
    font-size: 1em;
    box-shadow: 1px 1px 2px 1px #6C6A60;
    
}

.button:hover
{
    /*color: #ffbd6e;
    text-shadow: -1px -1px 2px #cc9758;*/
    color: #d7d4b8;
    text-shadow: 1px 1px 1px #191919;
    box-shadow: 1px 1px 2px 1px #191919;
    

}

.button:active
{
    background-color: #979797;

}

article
{
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-width: 425px;
    -moz-column-width: 425px;
    column-width: 425px;
    
}

blockquote
{
    background: url("../img/quote.png") no-repeat;
    color: #424242;
    /*margin: 30px;*/
    padding: 30px 30px 20px 50px;
    font-size: 1.1em;
}

.bquote
{
    padding: 30px 30px 20px 100px;
    font-size: 1.1em;
    color: #424242;
}

.transition
{
    padding: 30px;
    font-size: 1.1em;
    background-color: rgba(248, 172, 52, 0.3);
    /*background-color: rgba(103, 19, 19, 0.3);*/
    /*border-radius: 0 0 1.1em 1.1em;*/ 
    color: #424242;
    
}

#ven
{
    padding: 30px;
    background-color: rgba(248, 172, 52, 0.3);
    /*background-color: rgba(103, 19, 19, 0.3);*/
    background-size: cover;
    /*border-radius: 1.1em 1.1em 0 0;*/ 
}
#ven img
{
   max-height: 100%;
   max-width: 100%;
   margin: auto;
   display: block;
}

div.keeptogether 
{
    display: inline-block;
    width: 100%
}

a:link
{
    color: #292900;    
    text-decoration: none;
}

a:visited
{
    color: #848383;
}

a:hover
{
    color: #671313;
}

a:active
{
    color: #525252;
}

#sensor_tech
{
    display: none;
}

#assisted_tech
{
    display: none;
}

#human_tech
{
    display: none;
}

#chev_space
{
    padding-right: 1em;
}

#chev_right
{
    display: inline;
}

#chev_down
{
    display: none;
}


.center
{
    margin-right: 5em;
    margin-left: 5em;
    font-size: 1.1em;
    color: #424242;
}

.center li
{
    margin: 1em;
}


.left
{
    margin-right: 30em;
    color: #424242;
    font-size: 1.1em;    
}

.right
{
    margin-left: 30em;
    color: #424242;
    font-size: 1.1em;    
}

.feedback
{
    padding: 0.5em;
    font-style: italic;
    font-size: 1.5em;
}

.twitter-share-button
{
    margin-left: 1em;
}

.correct
{
    background-color: rgba(126, 216, 158, 0.3);
    padding: 1em;
    padding-top: 0.5em;
    text-align: center;
}

.correct span
{
    padding-left: 1em;
}

.fa-check
{
    color: #3F6C4F;
}

.incorrect
{
    background-color: rgba(248, 79, 79, 0.3);
    padding: 1em;
    padding-top: 0.5em;
    text-align: center;
}

.incorrect span
{
    padding-left: 1em;
}

.to_top span
{
    padding-left: 0.5em;
}

.fa-exclamation-triangle
{
    color: #7C2828;
}

.dist
{
    padding-left: 1em;
    vertical-align: middle;
}

.dist_list li
{
    margin-bottom: 1em;
    list-style-type: none;
}

footer
{
    font-family: 'Contrail One', sans-serif;
    font-size: 2.0em;
    color: #424242;
    /*clear: both;*/
    background-image: url("../img/footerpave.png");
    /*background-size: cover;*/
    /*padding: 0.3em;*/
    width: 100%;
    height: 25%;
}
